<div class="flex flex-col md:flex-row w-full h-auto md:h-screen bg-white">
  <!-- Image Section -->
  <div class="w-full md:w-1/2 h-64 md:h-full">
    <img src="img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg" alt="Image" class="w-full h-full object-cover">
  </div>

  <!-- Text Section -->
  <div class="w-full md:w-1/2 flex items-center justify-start p-6 md:p-10 bg-gray-500">
    <div>
      <section>
        <div class="hero-container mb-1">
          <div class="environment"></div>
          <h2 class="hero glitch layers text-3xl font-bold text-cyan" data-text="Rayyan Haqim">
            <span>Rayyan Haqim</span>
          </h2>
        </div>
      </section>

      <p class="text-white text-base text-justify leading-relaxed">
        I’m a cybersecurity enthusiast and system researcher, with a strong focus on backend architecture,
        vulnerability analysis, and system hardening.
        I enjoy working with Linux, scripting, and building tools that improve digital security.
        Currently exploring the balance between open-source freedom and system integrity.
      </p>
    </div>
  </div>
</div>